{% extends "base.html" %}

{% block content %}
    <div class='row'>
        <div class='col-5'>
            {% for img in images %}
                {% if img.featured %}
                    <div class='row'>
                        <div class='col'>
                            <img class="img-fluid" src="{{ img.image.url }}" />
                            <hr/>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div class='row'>
                {% for img in images %}
                    {% if not img.featured %}
                            <div class='col col-md-6'>
                                <a href='#' class='img-thumbnail'>
                                    <img class="img-fluid" src="{{ img.image.url }}" />
                                </a>
                            </div>
                    {% endif %}
                {% endfor %}
             </div>
        </div>
        <div class="col-7">
            <div class='row'>
                <div class="col-sm-8">
                    <h1 class='display-5'>
                    {{ productSlug.title }}
                    </h1>
                </div>
                <div class="col-sm-4 float-right">
                    <form class="form-group" method="POST" action="{% url 'carts:update_cart' productSlug.slug %}">
                        {% csrf_token %}
                        <input class="btn btn-outline-primary btn-sm btn-block" type="submit" value="Add to cart" />
                        <input class="form-control form-control-sm" type="number" name="qty" value="1"/>
                            <div class='form-row'>
                                {% if productSlug.variation_set.all %}
                                    {% if productSlug.variation_set.sizes %}
                                        <div class='col-md-6'>
                                            <select class="form-control form-control-sm" name='size'>
                                                {% for item in productSlug.variation_set.sizes %}
                                                    <option value='{{ item.title|upper }}'>{{ item.title|upper }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                    {% if productSlug.variation_set.colors %}
                                        <div class='col-md-6'>
                                            <select class="form-control form-control-sm" name='color'>
                                                {% for item in productSlug.variation_set.colors %}
                                                    <option value='{{ item.title|upper }}'>{{ item.title|upper }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    {% endif %}
                                {% endif %}

                            </div>
                    </form>
                </div>
            </div>
            Price : €{{ productSlug.price}}</br>
            Shipping: free with €25+ purchase            
            <hr/>
            {{ productSlug.description}}
        </div>
    </div>
    
{% endblock %}